@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
}

@layer components {
  .sidebar-link {
    @apply flex 
      items-center 
      rounded-lg 
      border 
      border-gray-bg 
      p-2 
      text-base 
      font-normal 
      text-gray-text  
      hover:border-gray-200 
      hover:bg-white 
      focus:border-gray-200 
      focus:bg-white;
  }
  .sidebar-icon {
    @apply h-6 w-6 group-hover:text-purple group-focus:text-purple;
  }
  .sidebar-text {
    @apply ml-3 group-hover:text-black group-focus:text-black;
  }
}
