@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@layer components {
  .sidebar-link {
    @apply flex 
      items-center 
      rounded-lg 
      border 
      border-gray-bg 
      p-[0.625rem]
      text-sm
      font-medium 
      text-gray-text 
      hover:border-gray-200
      hover:bg-white  
      focus:border-gray-200 
      focus:bg-white 
      active:border-gray-200 
      active:bg-white 
      lg:text-base 
      xl:mb-1;
  }
  .sidebar-icon {
    @apply h-5 w-5 group-hover:text-purple group-focus:text-purple group-active:text-purple lg:h-6 lg:w-6;
  }
  .sidebar-text {
    @apply ml-3 group-hover:text-black group-focus:text-black group-active:text-black;
  }
  .tableTab {
    @apply inline-block 
     cursor-pointer 
     rounded-t-lg 
     border-b-2 
     border-transparent
     pb-4 
    hover:border-gray-300
    hover:text-gray-text
    focus:border-purple
    focus:text-black;
  }
}
